@import "remixicon/fonts/remixicon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.about{
    background-image: url('/images/about.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.newsletter{
    background-image: url('/images/newsletter-hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}