@import "remixicon/fonts/remixicon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


.about{
    background-image: url('/images/about.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.newsletter{
    background-image: url('/images/newsletter-hero.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}